USE [AutoExport]
GO
/****** Object:  Table [dbo].[CustomsApprovedVINs]    Script Date: 8/31/2018 10:25:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomsApprovedVINs](
	[VIN] [varchar](17) NULL,
	[DestinationName] [varchar](20) NULL
) ON [PRIMARY]
GO
